<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.promotion.mapper.CouponMapper">

    <!-- 增加优惠券发放数量 -->
        <!-- 增加优惠券发放数量 -->
    <update id="incrIssueNum">
        UPDATE coupon
        SET issue_num = issue_num + 1,
            update_time = NOW()
        WHERE id = #{couponId} AND issue_num &lt; total_num
    </update>


</mapper>
